body {
    background-image: url('signin_bg.jpg');
}

#content {
    background-color: rgba(0, 0, 0, .6);
    position: relative;
    margin-top: 85px;
    padding: 80px;
}

#content h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#content h2 {
    color: #f90;
    text-shadow: 2px 2px #000;
}

#content h3 {
    color: rgba(255, 0, 0, .8);
    font-size: 22px;
    text-align: center;
    height: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

#content h4 {
    color: #fff;
    padding-bottom: 5px;
}

#content label {
    display: inline-block;
    width: 120px;
}

#content input[type="submit"] {
    border: 0px;
    margin-left: 270px;
}

#content input[type="text"], #content input[type="password"], 
    #content input[type="number"], #content input[type="date"], #content input[type="time"] {
    padding: 5px 10px;
    background-color: #333;
    font-size: 20px;
    color: #fff;
    width: 200px;
    height: 25px;
    border: 0px;
    margin-left: 15px;
    border-radius: 5px;
}

#content input[type="text"]:focus, #content input[type="password"]:focus, #content input[type="number"]:focus {
    background-color: #e55;
    color: #533;
}

#content input[type="number"]:hover, #content input[type="date"]:hover, #content input[type="time"]:hover,
    #content input[type="date"]:focus, #content input[type="time"]:focus {
    background-color: #e55;
    color: #333;
}

#content input[type="checkbox"] {
    height: 0px; 
    width: 0px;
}

#checkbox_admin {
    width: 155px;
    height: 40px;
    background: #333;
    border-radius: 50px;
    position: relative;
}

#checkbox_admin:before {
    content: 'Admin';
    position: absolute;
    top: 12px;
    left: 15px;
    height: 2px;
    color: #e55;
    font-size: 18px;
}

#checkbox_admin:after {
    content: 'User';
    position: absolute;
    top: 12px;
    left: 100px;
    height: 2px;
    color: #fff;
    font-size: 18px;
}

#checkbox_admin label {
    display: block;
    width: 60px;
    height: 22px;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 14px;
    background: #fff;
}

#checkbox_admin input[type="checkbox"]:checked + label {
    left: 80px;
    background: #e55;
}
