body {
    background-color: #000;
}

#index {
    width: 450px;
    height: 600px;
    background-color: #501;
    margin-right: auto;
    margin-left: auto;
}

#index h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#index h2 {
    color: #f90;
}

#index h3 {
    color: #f00;
    font-size: 30px;
    text-align: center;
    background-color: #000;
    height: 40px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#index label {
    display: inline-block;
    width: 100px;
}

#index input {
    background-color: #e55;
    font-size: 20px;
    color: #533;
    width: 200px;
    height: 30px;
    border: 0px;
}

#index input[type="submit"] {
    background-color: #5ee;
    font-size: 20px;
    color: #000;
    width: 80px;
    margin-left: 220px;
    margin-top: 20px;
}

#index p {
    background: #fff;
    padding: 30px;
    margin: 0px;
    text-align: right;
}



p {
    text-align: center;
}

a {
    text-align: center;
}

form {
    text-align: center;
}

